body {
    background: #000400d4;
}
.card-stacked {
    background-color: #525458;
    color:#dad6d6;
}
.parallax-container {
    height:400px;
}
#fixedNav {
    position:fixed;
    background-color: #0000006e;
}
#title{
    font-family: 'Righteous', cursive;
    color: #ffffffde;
}
.navBtns {
    background-color: rgba(223, 223, 223, 0.486);
    border-radius:5px;
}
.articleCard {
    box-sizing: border-box;
    /* height:300px; */
}
.card-image img{
    height: auto;
    width:100%;
}
#goHomeBtn {
    margin-top:20px;
}
.saveArticle{
    color: #ffffff;
}
.card-image {
    background: #525458;
}

/* Media queries */
@media screen and (max-width: 600px) {
    h1{
        font-size:38px;
    }
    .navBtns {
        margin-top: 5px;
    }
    
 }

 @media screen and (max-width: 400px) {
     .card-action {
         font-size:12px;
     }
 }